@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.prod {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  border: 1.594px solid #f4f4f4;
  width: 296.5px;
  height: 447.938px;
  padding: 18.698px 21.369px;
  &-img-wrapper {
    width: 100%;
    height: 192px;
    position: relative;
  }
}
