@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.footer {
//   margin-top: 50px;
  background-image: url("/icons/pattern.png"); /* Path is relative to the public folder */
  background-size: cover; /* Adjust this based on your needs */
  background-repeat: no-repeat;
  background-position: center;
  background-color: #232323;
  min-height: 407px; /* Set height to make the background visible */
  padding: 30px 54px;
  color: $white;
  @include mobile-screen-style {
    margin-bottom: 80px;
  }
  &-header {
    color: $yellow-ter;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
  }
  &-links {
    padding: 0px 1.2rem;
    li {
      color: $white;
      font-size: 14px;
      font-weight: 400;
      margin-bottom: 8px;
      cursor: pointer;
      width: fit-content;
      &:hover {
        text-decoration: underline;
        color: $yellow-ter;
      }
    }
  }
  &-help {
    color: $white;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 16px;
    &_info {
      cursor: pointer;
      display: flex;
      gap: 10px;
      margin-bottom: 16px;
      &:hover {
        text-decoration: underline;
        color: $yellow-ter;
      }
    }
  }

  .static-pages {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    &_links {
      font-size: 12px;
      font-weight: 500;
      text-decoration: underline;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
        color: $yellow-ter;
      }
    }
  }
}
