@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.order {
  background-color: #fff;
  margin-bottom: 20px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: "center";
  border-radius: 6px;
  border: 1px solid #f0f0f0;
  cursor: pointer;
  &:hover {
    background-color: rgb(247, 247, 247);
  }
  .section-one {
    // border-bottom: 1px solid #f0f0f0;
    padding-bottom: 10px;
    display: flex;
    .date {
      border-right: 1px solid #f0f0f0;
      border-left: unset;
      display: flex;
      padding-right: 12px;
      padding-left: unset;
      gap: 4px;
      flex-direction: column;
      width: fit-content;
      min-width: 55px;
      color: #6b7280;
      font-weight: 700;
      font-size: 14px;
      text-align: center;
      &:lang(ar) {
        border-left: 1px solid #f0f0f0;
        border-right: unset;
        padding-left: 12px;
        padding-right: unset;
      }
    }
    .info {
      padding-left: 12px;
      padding-right: unset;
      display: flex;
    //   align-items: center;
      justify-content: space-between;
      width: 100%;
      &:lang(ar) {
        padding-right: 12px;
        padding-left: unset;
      }
      .flex {
        display: flex;
        flex-direction: column;
        gap: 8px;
      }
      .title {
        color: #232323;
        font-size: 12px;
        font-weight: 700;
      }
      span {
        font-size: 14px;
        color: #6b7280;
        font-weight: 500;
      }
      .price {
        text-align: end;
        font-size: 14px;
        font-weight: 500;
      }
    }
  }
  .section-two {
    padding-top: 10px;
  }
}
