@use "../../styles/variables.scss" as *;
@use "../../styles/mixins.scss" as *;

.langSwitcher {
  button {
    outline: unset;
    border: unset;
    // padding: 0.5rem 1rem;
    color: #eeeeee;
    background-color: #496e2d;
    width: 38px;
    height: 38px;
    @include mobile-screen-style {
      width: 20px;
      height: 20px;
    }
    border-radius: 50%;
    font-size: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    &:hover {
      //   text-decoration: underline;
      opacity: 0.9;
    }
  }
}
