@import "../../../../styles/variables.scss";
@import "../../../../styles/mixins.scss";

.status {
  display: flex;
  padding: 5.458px 10.917px;
  justify-content: center;
  align-items: center;
  gap: 5.458px;
  border-radius: 2729.237px;
  background: #fff;
  opacity: 0.8;
  @include mobile-screen-style {
    height: 25px;
	padding: 5.458px 5px;
  }
}

.text {
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  margin-top: 3px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.svg {
  font-size: 15px !important;
  @include mobile-screen-style {
    font-size: 12px !important;
  }
}

.image {
  width: 24px;
  height: 12px;
  @include mobile-screen-style {
    width: 12px !important;
    height: 12px !important;
  }
}

.new {
  border: 1.365px solid #429df8;
  box-shadow: 1.365px 2.729px 0px 0px #429df8;
  color: #429df8;
}

.cancelled {
  border: 1.365px solid #fa1a09;
  box-shadow: 1.365px 2.729px 0px 0px #fa1a09;
  color: #fa1a09;
}

.priceUnavailable {
  border: 1.365px solid #c12d0d;
  box-shadow: 1.365px 2.729px 0px 0px #c12d0d;
  color: #c12d0d;
}

.shipping {
  border: 1.365px solid #f5d113;
  box-shadow: 1.365px 2.729px 0px 0px #f5d113;
  color: #f5d113;
}

.delivered {
  border: 1.365px solid #5a9230;
  box-shadow: 1.365px 2.729px 0px 0px #5a9230;
  color: #5a9230;
}

.pay-pending {
  border: 1.365px solid #fca004;
  box-shadow: 1.365px 2.729px 0px 0px #fca004;
  color: #fca004;
}

.incomplete {
  border: 1.365px solid #f81c6b;
  box-shadow: 1.365px 2.729px 0px 0px #f81c6b;
  color: #f81c6b;
}

.returnbale {
  border: 1.365px solid #373737;
  box-shadow: 1.365px 2.729px 0px 0px #373737;
  color: #373737;
}

.confirmed {
  border: 1.365px solid #078ea1;
  box-shadow: 1.365px 2.729px 0px 0px #078ea1;
  color: #078ea1;
}

.priced {
  border: 1.365px solid #b217fb;
  box-shadow: 1.365px 2.729px 0px 0px #b217fb;
  color: #b217fb;
}

.ready-to-ship {
  border: 1.365px solid #baaf77;
  box-shadow: 1.365px 2.729px 0px 0px #baaf77;
  color: #baaf77;
}

.completed {
  border: 1.365px solid #11AF22;
  box-shadow: 1.365px 2.729px 0px 0px #11AF22;
  color: #11AF22;
}
