@import "./variables.scss";
@import "./mixins.scss";
@import "../components/Marketplace/MainCarousel/MainCarousel.scss";

@font-face {
  font-family: "Ping";
  src: url("../pages/fonts/ping/PingAR+LT-Bold.otf") format("opentype");
  font-weight: 700; /* Bold weight */
  font-style: normal;
}

@font-face {
  font-family: "Ping";
  src: url("../pages/fonts/ping/PingAR+LT-Medium.otf") format("opentype");
  font-weight: 500; /* Medium weight */
  font-style: normal;
}

@font-face {
  font-family: "Ping";
  src: url("../pages/fonts/ping/PingAR+LT-Regular.otf") format("opentype");
  font-weight: 400; /* Regular weight */
  font-style: normal;
}

* {
  font-family: "Ping", sans-serif !important;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.layout {
  display: flex;
  min-height: 90vh;
  padding: 0px;
  overflow: hidden auto;
  &--content {
    flex: 1;
    min-height: inherit;
    padding-right: 80px;
    &__children {
      position: relative;
      padding: 30px;
      background-color: #f3f5f8;
      min-height: inherit;
      border-top-right-radius: 53px;
      border-top-left-radius: unset;
      max-width: calc(100vw - 90px);
    }
  }
}
.login-layout {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

::-webkit-scrollbar {
  width: 5px; /* Set the width of the scrollbar */
  height: 5px; /* Set the height of the horizontal scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Track background */
}

::-webkit-scrollbar-thumb {
  background-color: #8888888f; /* Scrollbar color */
  border-radius: 10px; /* Rounded corners */
  border: 1px solid transparent; /* Space around the scrollbar */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #8888888f; /* Darker on hover */
}
/* Apply for Firefox */
* {
  scrollbar-width: thin; /* Makes the scrollbar thinner */
  scrollbar-color: #8888888f #f1f1f1; /* Scrollbar and track colors */
}

// table sorting
.sort-icon {
  visibility: hidden; /* Hidden by default */
  transition: visibility 0.2s;
}

.sortable-header:hover .sort-icon {
  visibility: visible; /* Show on hover */
  opacity: 0.8;
}
.line-chart {
  canvas {
    width: 100% !important;
  }
}

.carousel .carousel-indicators [data-bs-target],
[data-bs-theme="dark"].carousel .carousel-indicators [data-bs-target] {
  background-color: unset !important;
  width: 15px;
  height: 15px;
}
.carousel-indicators {
  bottom: -19px !important;
  @include mobile-screen-style {
    bottom: -22px !important;
  }

  button {
    background-color: grey;
    display: inline-block;
    width: 10px;
    height: 10px;
    @include mobile-screen-style {
      width: 8px !important;
      height: 8px !important;
    }
    border-radius: 10px;
    border: 2px solid transparent;
    padding: 3px;
    box-sizing: border-box;
    text-align: center;
    line-height: 44px;
    font-weight: bold;
    text-decoration: none;
    position: relative;
  }
  button {
    &::before {
      content: "";
      position: absolute;
      left: -2px;
      right: -2px;
      bottom: -2px;
      height: 11px;
      width: 11px;
      @include mobile-screen-style {
        height: 8px !important;
        width: 8px !important;
      }
      margin: auto;
      background-color: $grey-sec;
      border-radius: 10px;
      opacity: 1;
    }
  }
  button.active {
    &::before {
      background-color: black;
    }
  }
}

// .sm-popup-width {
//   min-width: 30vw !important;
//   max-width: 300px !important;
// }

// apply this style  when hover  on the dropdown
.MuiInputBase-root {
  &:hover {
    .MuiOutlinedInput-notchedOutline {
      //   border-color: unset !important;
      border: 1px solid #d1d5db;
    }
  }
}

// add yellow color when foucs on dropdown, textarea, textfield
.Mui-focused fieldset.MuiOutlinedInput-notchedOutline {
  border-color: $primary !important; /* Apply yellow border on focus */
}

.error-msg-inputs {
  color: #eb3c24;
  font-size: 12px;
  padding-top: 3px;
}

.minimize-center-dialog-width {
  min-width: 40vw !important;
  min-height: fit-content !important;
  @include mobile-screen-style {
    width: unset;
  }
}

.modal-login-width-web {
  //   min-width: 600px !important;
  max-width: 600px !important;
  min-height: fit-content !important;
  @include mobile-screen-style {
    width: unset;
    max-width: 100vw;
  }
}

// style  for phone input
.phone-label {
  font-weight: 400;
  font-size: 0.87rem;
  color: #191f33;
  margin-bottom: 10px;
  @include mobile-screen-style {
    font-size: 1rem;
  }
}

.phone-input {
  height: 48px;
  border-radius: 10px;
  input[type="tel"] {
    min-height: 100%;
    height: 44px !important;
    min-width: 100% !important;
    border-radius: 10px !important;
    border: 1px solid #d1d5db;
    padding: 0px 10px;
    &:focus {
      box-shadow: unset !important;
      border: 1px solid $primary;
    }
  }
  .flag-dropdown,
  .selected-flag {
    border-top-left-radius: 8px !important;
    border-bottom-left-radius: 8px !important;
  }
}

[dir="rtl"] {
  .selected-flag {
    padding: 0 8px 0 0 !important;
    border-top-left-radius: unset !important;
    border-bottom-left-radius: unset !important;
    border-top-right-radius: 8px !important;
    border-bottom-right-radius: 8px !important;
    .arrow {
      left: unset !important;
      right: 20px;
    }
  }
  .flag-dropdown {
    border-top-left-radius: unset !important;
    border-bottom-left-radius: unset !important;
    border-top-right-radius: 8px !important;
    border-bottom-right-radius: 8px !important;
  }
}

div[aria-label="number input"] {
  border-radius: 8px;
  color: #829c86;
  background: #fff;
  border: 1px solid #d1d5db;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
  display: grid;
  grid-template-columns: 1fr 19px;
  grid-template-rows: 1fr 1fr;
  overflow: hidden;
  column-gap: 8px;
  padding: 3px 8px;
}

.Mui-error .MuiOutlinedInput-notchedOutline {
  border-color: #eb3c24 !important;
}

.error-border {
  input[type="tel"] {
    border: 1px solid #eb3c24 !important;
    background-color: $white !important;
  }
  div.flag-dropdown {
    border: 1px solid #eb3c24 !important;
  }
}

// dropdown selection auto complete map
.pac-container.pac-logo {
  z-index: 9999;
}

.reverse-position {
  left: unset !important;
  right: 0px;
  &:lang(ar) {
    left: 0px !important;
    right: unset;
  }
}

// input hold the new added spare part
.input-text {
  width: 100%;
  height: 44px;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  padding: 0px 10px;
  background-color: white !important;
  color: black;
  @include mobile-screen-style {
    height: 32px;
  }
  &:focus,
  &:hover {
    border: 1px solid $primary;
    border-radius: 8px;
    outline: unset;
  }
}

// login input num 966 style
.code-num {
  position: absolute;
  top: 0px;
  height: 44px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 7px;
  @include mobile-screen-style {
    padding: 0px 6px;
    font-size: 13px;
  }
  left: 0px;
  font-size: 16px;

  &::after {
    content: "";
    position: relative;
    top: 0;
    right: -4px;
    left: unset;
    width: 1px;
    height: 65%;
    background-color: grey;
    @include mobile-screen-style {
      right: -8px;
      left: unset;
    }
  }
  &:lang(ar) {
    &::after {
      right: -111% !important;
      left: unset !important;
      @include mobile-screen-style {
        right: -130% !important;
        left: unset !important;
      }
    }
  }
}

// used in how to make pricing popup
.carousel {
  direction: rtl;
  z-index: 0;
}

.carousel-control-prev {
  right: 0 !important;
  left: auto !important;
  &:hover {
    background-image: unset !important;
  }
}

.carousel-control-next {
  left: 0 !important;
  right: auto !important;
  &:hover {
    background-image: unset !important;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.data-over-foot-nav {
  position: fixed;
  bottom: 83px;
  left: 0px;
  right: 0px;
  width: 90% !important;
  margin: auto;
  z-index: 1;
}

.MuiPaper-root[role="dialog"] {
  @media (min-width: 1500px) {
    max-width: 850px !important;
    min-width: 850px !important;
    width: 850px !important;
  }
}

@media (max-width: 1899px) {
  .sm-popup-width {
    min-width: 30vw !important;
    max-width: 300px !important;
  }
}

/* Apply styles for screens 1500px and larger */
@media (min-width: 1900px) {
  .MuiPaper-root[role="dialog"] {
    max-width: 850px !important;
    min-width: 850px !important;
    width: 850px !important;
  }
}

/* -------------------------------------------------------------------------- */
/*                      buttons for react slick carousels                     */
/* -------------------------------------------------------------------------- */
button[class^="slick-"] {
  background-color: rgb(255, 255, 255) !important;
  border-radius: 50% !important;
  padding: 15px !important;
  position: absolute;
  z-index: 1;
  border: 1px solid #d1d5db;
  @include mobile-screen-style {
    padding: 11px !important;
  }
  &::before {
    content: "" !important;
  }
  &:hover {
    opacity: 0.8;
  }
}
.slick-next {
  background: url("/icons/arrow-left-sm.svg") center center no-repeat !important;
}
.slick-prev {
  background: url("/icons/arrow-right-sm.svg") center center no-repeat !important;
}

[dir="rtl"] .slick-prev {
  left: -25px !important;
  right: auto;
  transform: rotate(180deg);
  top: 45%;
  @include mobile-screen-style {
    left: 0px !important;
  }
}
[dir="ltr"] .slick-prev {
  right: auto;
  left: -25px !important;
  transform: rotate(180deg);
  top: 45%;
  @include mobile-screen-style {
    left: 0px !important;
  }
}
[dir="rtl"] .slick-next {
  left: auto;
  right: -25px !important;
  transform: rotate(180deg);
  top: 45%;
  @include mobile-screen-style {
    right: 0px !important;
  }
}
[dir="ltr"] .slick-next {
  left: auto;
  right: -25px !important;
  transform: rotate(180deg);
  top: 45%;
  @include mobile-screen-style {
    right: 0px !important;
  }
}

.slick-dots {
  @include mobile-screen-style {
    bottom: -18px;
  }
}

.slick-slider {
  width: 95%;
  margin: auto;
  @include mobile-screen-style {
    width: 99%;
  }
}

.Mui-disabled {
  -webkit-text-fill-color: #1fb256 !important;
}
