$dark: #232323;
$white: #ffffff;

$primary: #f9dd4b;
$secondary: #ffeeb3;
$tertiary: #fff3c8;

$grey: #6b7280;
$grey-sec: #84919a;
$grey-tert: #b0babf;
$grey-dark: #252c32;
$grey-cool: #9ca3af;
$grey-soft: #f7f7f8;
$grey-ghost: #f2f3f4;
$grey-border: #d1d5db;
$grey-bor-sec: #e5e7eb;
$grey-light: #fbfbf9;
$grey-accent: #fffdec;
$grey-disable: #e7e7e7;

$yellow: #ffb800;
$yellow-sec: #fffcef;
$yellow-ter:#FFD400;

$succes: #22c55e;
$success-sec: #ebfff1;

$error: #ef4444;
$error-sec: #ffefeb;

$attention: #feb241;
$attention-sec: #ffe1b5;

$info: #4094f7;
$info-sec: #e2f2ff;

$placeholder: #f4f4f2;

$overlay: #30303680;

