@import "../../styles/mixins.scss";
.main-carousel {
  height: 610px;
  width: 100%; /* Ensure full width */
  overflow: hidden; /* Prevent overflow issues */
  border-radius: 10px;

  @include mobile-screen-style {
    height: 200px; /* Adjust height for mobile screens */
  }

  .carousel-inner {
    height: 100%;
    width: 100%; /* Ensure full width */
    .carousel-item {
      height: 100%;
      position: relative;
      width: 100%; /* Ensure full width */

      .carousel-item-wrapper {
        background-size: contain !important;
        background-position: center !important;
        background-repeat: no-repeat !important;
      }
    }
  }

  .carousel-control-next,
  .carousel-control-prev {
    display: none;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure image scales correctly */
  }
}
